body{
    color: white;
}
.counter{
    
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 65px;
}
.first, .second, .third, .fourth, .fifth, .sixth, .number{
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    width: 65px;
    margin: 5px;
}